<!DOCTYPE html>
<html>
<head>
	<title>Lab 16</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<script src="scripts/module/module.js"></script>
</head>
	<body ng-app="wordModule" ng-controller="wordController">

<div>
	<div>
		<button type="button" ng-click="showWord(word)" name="Words">Words</button>
		<button type="button" name="Words With Decorations">Words With Decorations</button>
		<button type="button" name="More Words">More Words</button>
		<button type="button" name="More Words With Decorations">More Words With Decorations</button>
	</div>

	<p ng-repeat="name in places">{{ place }}</p>

</div>

</body>
</html>
